*
{
margin:0;
padding:0;	
	
}
body
{
background-color:#DF3A01;
font-family:Segoe UI Light, Calibri;
font-size=12;
}

.table
{
height:40px;
position:relative;
width:100%;	
font-family:Calibri,Georgia,Serif;
font-size:38px;	
color:#bfe1f1;
text-align:center;
}	
.proceso
{
height:220px;
text-align:center;
font:Georgia,Serif;
font-size:20px;	
color:#bfe1f1;
}
.piedepagina
{
width:100%;
height:100px;
	
font:Georgia,Serif;
font-size:20px;	
color:#bfe1f1;	
text-align:center;
}

	